<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
    </header>
    <nav id="nav">{% include nav.html %}</nav>
    <main id="main">
        <article class="post featured">
            <header class="major">
                <div class="date">WEEKEND QUANTVESTOR</div>
                <h1>About Data, Investing &amp; Life</h1>
            </header>
        </article>
        <section class="posts">
            {% for post in site.posts %}
                <article>
                    <header>
                        <div class="date">{{ post.date | date_to_string }}</div>
                        <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                    </header>
                    <p>{{ post.excerpt | truncate: 160 | strip_newlines }}</p>
                    <a href="{{ post.url | absolute_url }}" class="button secondary">Read article</a>
                </article>
            {% endfor %}
        </section>
        <footer>{% include foot.html %}</footer>
    </main>
</div>
{% include scripts-main.html %}
{% include tracking.html %}
</body>
</html>
