<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
    </header>
    <nav id="nav">{% include nav.html %}</nav>
    <main id="main">
        <section class="post">
            {{content}}
        </section>
        <footer>{% include foot.html %}</footer>
    </main>
</div>
{% include scripts-main.html %}
{% include tracking.html %}
</body>
</html>
