<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
</head>
<body>
<div id="wrapper">
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
    </header>
    <nav id="nav">{% include nav.html %}</nav>
    <main id="main">
        <article class="post article-page">
            <header class="major">
                <div class="date">{{ page.date | date_to_string }}</div>
                <h1>{{page.title}}</h1>
            </header>

            {% if page.image %}
            <div class="image main"><img src="{{page.image}}" alt=""></div>
            {% endif %}

            <div class="post-content">{{content}}</div>
        </article>

        <div style="display:flex;gap:8px;justify-content:space-between;flex-wrap:wrap;margin:16px 0;">
            {% assign cat = page.category %}
            {% for post in site.categories[cat] %}
              {% if post.url == page.url %}
                {% assign post_index0 = forloop.index0 %}
                {% assign post_index1 = forloop.index %}
              {% endif %}
            {% endfor %}
            {% for post in site.categories[cat] %}
              {% if post_index0 == forloop.index %}
                {% assign next_post = post %}
              {% endif %}
              {% if post_index1 == forloop.index0 %}
                {% assign prev_post = post %}
              {% endif %}
            {% endfor %}
            {% if prev_post %}
              <a href="{{ prev_post.url | absolute_url }}" class="button secondary">&lt; Previous article</a>
            {% else %}<span></span>{% endif %}
            {% if next_post %}
              <a href="{{ next_post.url | absolute_url }}" class="button secondary">Next article &gt;</a>
            {% endif %}
        </div>

        <footer>{% include foot.html %}</footer>
    </main>
</div>
{% include scripts-main.html %}
{% include tracking.html %}
</body>
</html>
